<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Web Developer | V-Unit</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel='stylesheet' type="text/css" href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Special+Elite|Permanent+Marker" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="../image/apple-icon-57x57.png">
  <link rel="../image/apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="../image/apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="../image/apple-touch-icon" sizes="76x76" href="../image/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../image/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../image/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../image/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../image/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../image/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../image/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../image/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png">
  <link rel="manifest" href="../image/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../image/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

      <header class="main-nav">

          <div class="menu-row">
              <a class="logo" href="#">V/N</a>

              <div class="mobile-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>

              <nav>

                      <a href="#about">About Me</a>
                      <a href="#skills">Skills</a>
                      <a href="/portfolio" target="_blank">Portfolio</a>
                      <a href="resume.pdf" target="_blank">Resume</a></li>
                      <a href="#contact">Contact Me</a>

              </nav>

          </div> <!-- / row -->

  </header>
<section id="hero">
    <canvas id="hero-canvas" width="1920" height="1080"></canvas>
    <div class="hero-bg">
      <div class="intro">
      <h1>Vy Nguyen</h1>
      <p class="tagline">I develop effective, responsive websites that ensure positive user experiences.</p>
      <a href="#about" class="down">
        <i class="fas fa-angle-double-down"></i></a>

      </div>

        <div class="bird-container bird-container--one">
          <div class="bird bird--one"></div>
        </div>

        <div class="bird-container bird-container--two">
          <div class="bird bird--two"></div>
        </div>

        <div class="bird-container bird-container--three">
          <div class="bird bird--three"></div>
        </div>

        <div class="bird-container bird-container--four">
          <div class="bird bird--four"></div>
        </div>

      </div>


</section>


<section id="about">

<div class="about-bg"></div>
<div class="title-mobile">About Me</div>
<div class='about-wrapper mx-sm-4'>

        <img src="../image/vy5.png">
      <div class='bio-wrapper'>
          <div class="title">About Me</div>
        <div class="bio">

            Hello world! My name is Vy and I live in San Diego, CA. I got my certification in full stack web development at Origin Code Academy in April 2018. Afterwards, I worked as a front-end developer for a small digital technology company located in downtown San Diego. I love what I do and I am passionate about connecting the art of design with the art of programming. I enjoy writing clean and efficient code, learning new skill sets, solving technical problems, and working on a team with creative individuals. <br><br>To learn more about what I do, download my <a href="/resume.pdf" target="_blank">resume</a> or checkout my <a href="/portfolio" target="_blank">portfolio</a>.

        </div>

      </div>
    </div>
</section>



<section id="skills">
  <div class="skill-wrapper">

          <div class="title">Skill Sets</div>


    <div class="skill-filter">
        <div id="myBtnContainer">
          <!-- <button class="btn active" onclick="filterSelection('all')"> Show All</button> -->
          <button class="btns active" onclick="filterSelection('front')"> Front-end</button>
          <button class="btns" onclick="filterSelection('back')"> Back-end</button>
          <button class="btns" onclick="filterSelection('cms')"> CMS</button>
          <button class="btns" onclick="filterSelection('agile')"> Agile</button>
          <button class="btns" onclick="filterSelection('other')"> Other Tools</button>
        </div>

        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column front">
            <div class="img-wrapper">
            <div class="content">
              <div class="icon-wrapper">
              <img src="../image/javascript.png" alt="JavaScript">
              </div>
            <p>JavaScript</p>
            </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/react.png" alt="React">
                </div>
              <p>React</p>
            </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/redux.png" alt="Redux">
                </div>
              <p>Redux</p>
            </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/angular.png" alt="AngularJS">
                </div>
              <p>AngularJS</p>
          </div>
          <div class="content">
              <div class="icon-wrapper">
              <img src="../image/html.png" alt="HTML5">
              </div>
              <p>HTML5</p>
            </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/css.png" alt="CSS3">
                </div>
              <p>CSS3</p>
            </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/sass.png" alt="Sass">
                </div>
              <p>Sass</p>
            </div>
            <div class="content">
              <div class="icon-wrapper">
                <img src="../image/bootstrap.png" alt="Bootstrap">
            </div>
                <p>Bootstrap</p>
              </div>
            <div class="content">
                <div class="icon-wrapper">
              <img src="../image/flexbox.png" alt="Flexbox">
            </div>
              <p>Flexbox</p>

            </div>
        </div>
      </div>

          <div class="column back">
              <div class="img-wrapper">
              <div class="content">
                  <div class="icon-wrapper">
                <img src="../image/node.png" alt="Node.js">
                  </div>
                <p>Node.js</p>
              </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/mysql.png" alt="MySQL">
                    </div>
                <p>MySQL</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/mongodb.png" alt="MongoDB">
                    </div>
                <p>MongoDB</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/loopback.png" alt="Loopback">
                    </div>
                <p>Loopback</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/redis.png" alt="Redis">
                    </div>
                <p>Redis</p>
              </div>
            </div>
          </div>

            <div class="column cms">
                <div class="img-wrapper">
                <div class="content">
                    <div class="icon-wrapper">
                  <img src="../image/wordpress.png" alt="Wordpress">
                    </div>
                  <p>Wordpress</p>
                </div>
                  <div class="content">
                      <div class="icon-wrapper">
                  <img src="../image/drupal.png" alt="Drupal">
                      </div>
                  <p>Drupal</p>
                </div>
              </div>
            </div>

            <div class="column agile">
                <div class="img-wrapper">
                <div class="content">
                    <div class="icon-wrapper">
                  <img src="../image/jira.png" alt="Jira">

                    </div>
                  <p>Jira</p>

                </div>
                <div class="content">
                    <div class="icon-wrapper">
                  <img src="../image/bitbucket.png" alt="Bitbucket">
                    </div>
                  <p>Bitbucket</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                  <img src="../image/teamwork.png" alt="Teamwork">
                    </div>
                  <p>Teamwork</p>
              </div>
              </div>
            </div>
          <div class="column other">
              <div class="img-wrapper">
              <div class="content">
                  <div class="icon-wrapper">
                <img src="../image/git.png" alt="Git">
                  </div>
                <p>Git</p>
              </div>
              <div class="content">
                  <div class="icon-wrapper">
                  <img src="../image/command.png" alt="Command Line">
                  </div>
                  <p>Command <br>Line</p>
                </div>
              <div class="content">
                  <div class="icon-wrapper">
                <img src="../image/vsc.png" alt="Visual Studio Code">
                  </div>
                <p>VS Code</p>
              </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/xcode.png" alt="Xcode">
                    </div>
                <p>Xcode</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/expo.png" alt="Expo">
                    </div>
                <p>Expo</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/photoshop.png" alt="Photoshop">
                    </div>
                <p>Photoshop</p>
                </div>
                <div class="content">
                    <div class="icon-wrapper">
                <img src="../image/ftp.png" alt="FileZilla">
                    </div>
                <p>FileZilla</p>
                </div>
              </div>
          </div>
        <!-- END GRID -->
        </div>

    </div>
  </div>
</section>

<section id="contact">

    <div class="v"><div class="v-overlay"></div>

      <!-- bubble with z-index here -->
    </div>
    <div class="contact-box mx-sm-4">
      <div class="title">Contact Me</div>
        <form action="/thanks" method="post">

              <div class="contact-field"><img src="../image/c3po.png">
              <input type="text" class="name" name="name" placeholder="Name">
              </div>

          <div class="contact-field">
          <img src="../image/bbtop.png">
          <input type="text" class="email" name="email" placeholder="E-mail Address">
          </div>
          <div class="contact-field"><img src="../image/falcon.png">
          <input type="text" class="company" name="company" placeholder="Company">
          </div>
          <div class="message-field">
          <textarea class="subject" name="subject" placeholder="V-Unit, I am your father..."></textarea>
          </div>
          <input class="btn" type="submit" value="Submit">
        </form>
        </div>
    <div class="luke"><div class="luke-overlay"></div></div>

  </section>






  <footer>
      <div class="footer-wrapper">

      <div class="copyrights"><div><span>V-UNIT&ensp;&copy;</span> 2019 Vy Nguyen. </div><div>&ensp;All Rights Reserved. </div></div>
      <div class="social">
        <a href="mailto:vytnguyen11@gmail.com" target="_blank"><i class="fas fa-envelope-open"></i></a><a href="https://github.com/vunit2007" target="_blank"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/vy-nguyen-715417102/" target="_blank"><i class="fab fa-linkedin-in" target="_blank"></i></a>
        <a href="https://twitter.com/vunitxo" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    </footer>



<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/down.js"></script>
<script type="text/javascript" src="../js/hero.js"></script>
<script type="text/javascript" src="../js/skillset.js"></script>

</body>

</html>