<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> Vy's Portfolio</title>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
      <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Homemade+Apple|Reenie+Beanie|Telex" rel="stylesheet">
      <link rel='stylesheet'  type="text/css" href='/css/style.css' >
      <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
      <script defer type="text/javascript" src="/js/script.js"></script>
    </head>


    <body>


     <div class="bg1">
         <div class="name">Vy Nguyen</div>
    
  

         <div class="typewriter">
            <h1>Software Developer</h1>

       </div>
     </div>
     
     <div id="navbar">
        <a href="#aboutMe">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#we">Background</a>
        <a href="#contactMe">Contact Me</a>
      </div>

     
     <div class="bg2" id="aboutMe">
        <div class="ptext">
          <span class="border">
           About Me
     
          </span>
        </div>
      </div>

      <div class="info2">

<br>
         <div class="mypic"><img src='../images/portfoliopic.jpg' height="380px"/></div>
         <center><div class="borderquote"><div class="quote">"Much is given, much is expected"</div></div><br><br><br></center>
<div class="bio">
           <p>Born in Viet Nam, I came to America with my family when I was 4 years old.  I attended East Texas Baptist University and graduated Magna Cum Laude with a Bachelor of Arts in 4 years.  While in college, I was involved with Alpha Chi Honor Society, Habitat For Humanity, Intramural Sports, and Kid's Club. 
             I moved to Houston, Texas after college and worked as a financial consultant for AXA Advisors for over 3 years.  Eventually, I relocated to San Diego, California to work as an investment consultant for Scottrade.  I have over 5 years of service in financial services and my experiences have taught me valuable interpersonal relationship skills, good time management, high attention to details, how to become an independent learner, and of course how to invest on my own.  
            Even though I am a big peopleperson, I have always had a curiosity, passion, and desire to learn how to code and become a web/software developer.  I love learning new software languages, building projects, solving problems, and designing websites.  I can do it all day and I want to become a master at it.  I am thankful for Origin Code Academy and a second chance to pursue my dream career. 
            Outside of coding, I enjoy reading books, going to my pilates class, doing yoga, eating out at new restaurants, and hanging out with my girlfriends.  I believe I am an excellent addition to any company or team, because of my work ethic, discipline, reliability, creativity, competitive nature, fear of failure, and positive attitude.  
           </p>
          </div>
        </div>

        <div class="bg3" id="skills">
            <div class="ptext">
              <span class="border">
               Skills
         
              </span>
            </div>
          </div>

          <section class="info3">
            <div class="glasses2"><img src='../images/glasses2.gif' height="150px"/></div><br>
            <div class="Skills22">
            <div class="skills2">JavaScript</div>  
            <div class="skills2">React</div>   
            <div class="skills2">Redux</div> 
            <div class="skills2">HTML</div> 
            <div class="skills2">CSS</div>     
            <div class="skills2">MongoDB</div>  
            <div class="skills2">Node.JS</div>   
            <div class="skills2">Culp</div> 
            <div class="skills2">Git</div> 
            <div class="skills2">Express</div> 
            <div class="skills2">Sql</div>  
            <div class="skills2">Redis</div>   
            <div class="skills2">Mocha</div> 
            <div class="skills2">CircleCI</div> 
            <div class="skills2">Webpack</div> 
            <div class="skills2">Chai</div> 
            </div>
      
            
    
            </section>

            <div class="bg4" id="projects">
                <div class="ptext">
                  <span class="border">
                  Projects
             
                  </span>
                </div>
              </div>
        
              <section class="info4">
        
                  <div class="projects">
                    <p>
                      Click on the demos below to check out my cool projects and apps! :)
                    </p>
                       <div class="pic1border">
                      <div class="pic1"><a href="https://vn-mortgagecalculator.herokuapp.com/" target="_blank"><img src='../images/project1.png' height="300px" width="350px"/></a>  
                      </div>
                        <div class="desc">This calculator will help you figure out your montly mortgage payment.</div>

                    </div>

                    <div class="pic2border">
                      <div class="pic2"><a href="https://vn-vstda.herokuapp.com/" target="_blank"><img src='../images/project2.png' height="300px" width="350px"/></a>
                      </div>
                        <div class="desc">Organize your day better with a simple and easy to use To-Do List.</div>
                     </div>

                     <div class="pic3border">
                     <div class="pic3"><a href="https://vn-topspots.herokuapp.com/" target="_blank"><img src='../images/project3.png' height="300px" width="350px"/></a>
                     </div>
                      <div class="desc">Check out San Diego's Top Spots for adventures and fun.</div>
                    </div>
                  
              
                    </div>
                </section>

                <div class="bg5" id="we">
                    <div class="ptext">
                      <span class="border">
                       Background
                 
                      </span>
                    </div>
                  </div>
            
                  <section class="info5">
                        
                        <div class="timeline">
                          <ul>
                            <li>
          
                                <div>
                                <time>Sept 2017 - Present</time><br><br>  Enrolled in <font color="white">Origin Code Academy</font>.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>Jan 2017 - Aug 2017</time><br><br> Worked at <font color="white">JP Morgan Chase </font>as a Private Client Banker, managing a book of business of clients with a net worth of at least $250,000 or higher. 
                              </div>
                            </li>
                            <li>
                                <div>
                                <time>Sept 2015 - Dec 2016</time><br><br>Worked at <font color="white">Scottrade</font> as an Investment Consultant, helping clients with their investment portfolios.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>Feb 2012 - Aug 2015</time><br> <br>Worked at <font color="white">AXA Advisors</font> as a Financial Consultant, selling life insurance, annuities, college savings plan, and managed money. 
                              </div>
                            </li>
                            <li>
                                <div>
                                <time>Sept 2011 - Feb 2012</time><br><br> Studied for my <font color="white">Series 7</font> - General Securities Representative Qualification Examination and
                                    <font color="white">Texas General Lines</font> - Life, Accident, Health & HMO.
                               
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>June 2011 - Sept 2011</time><br><br>Worked at <font color="white">Abercrombie & Fitch</font> as an Assistant Manger, hiring new employees and delegating tasks. 
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>Jan 2008 - May 2011</time><br><br> Graduated from <font color="white">East Texas Baptist University</font> with a Bachelor of Arts and 3.7 GPA.
                              </div>
                            </li>
                          </ul>
                        </div>

          
                    </section>

                    <div class="bg6" id="contactMe">
                        <div class="ptext">
                          <span class="border">
                           Contact Me
                     
                          </span>
                        </div>
                      </div>
                
                      <section class="info6">
                <p>Let's keep in touch!</p><br>
                          <div class="container2">
                              <form action="/thanks" method="post">
                            
                                <label for="fname">Name</label><br>
                                <input type="text" id="name" name="name" placeholder="Name"><br>
                            
                                <label for="lname">E-mail Address</label><br>
                                <input type="text" id="email" name="email" placeholder="E-mail Address"><br>
                            
        
                                <label for="lname">Company</label><br>
                                <input type="text" id="company" name="company" placeholder="Company"><br>

                                <label for="subject">Subject</label><br>
                                <textarea id="subject" name="subject" placeholder="Write something.."></textarea><br>
                            
                                <input type="submit" value="Submit">
                            
                              </form>
                            </div><br>
              
                        </section>
                      
                        <section class="info7">



                          <div class="links">
                      <div class="copyrights"><p>@2018 Vy Nguyen</p></div>
        
                              <div class="github"><a href="https://github.com/vunit2007" target="_blank"><img src='../images/github.png' height="40px" /></a>  
                              </div>
                            
        
                
                              <div class="linkedin"><a href="https://www.linkedin.com/in/vy-nguyen-715417102" target="_blank"><img src='../images/linkedin.png' height="40px"/></a>
                              </div>
                             
                             <div class="email"><a href="mailto:vytnguyen11@gmail.com" target="_blank"><img src='../images/email.png' height="40px"/></a>
                      
                            </div>
                          
                      
                            </div>
                          </section>



    </body>
  </html>
