<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Portfolio | V-Unit</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel='stylesheet' type="text/css" href='/css/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Special+Elite|Permanent+Marker" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="../image/apple-icon-57x57.png">
<link rel="../image/apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="../image/apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="../image/apple-touch-icon" sizes="76x76" href="../image/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../image/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../image/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../image/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../image/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../image/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../image/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../image/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png">
<link rel="manifest" href="../image/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../image/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>

<body>

      <header class="main_nav">

          <div class="menu-row">
              <a class="logo" href="/">V/N</a>

              <div class="mobile-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>

              <nav>

                      <a href="/#about">About Me</a>
                      <a href="/#skills">Skills</a>
                      <a href="#hero">Portfolio</a>
                      <a href="resume.pdf" target="_blank">Resume</a></li>
                      <a href="/#contact">Contact Me</a>

              </nav>

          </div> <!-- / row -->

  </header>


<section id="portfolio-hero">
  <div class="portfolio-hero-bg">

      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div class="portfolio-header">
        <span class="p-title">Portf<a class="down-p" href="#portfolio"><i class="fas fa-chevron-circle-down"></i></a>lio</span>
  </div>

</section>




<section id="portfolio">

    <article class="message">
        <div class="message-wrapper">
    <div class="section-title">
      <p class="text-center">Message from<br> V-Unit</p>
    </div>
    <div class="d-flex flex-column flex-lg-row">
        <div class="pic mx-auto mx-lg-4">
            </div>
      <div class="the-message my-auto mx-sm-4">
        <div class="date text-center text-lg-right py-4">Tuesday, May 14, 2019</div>
        <div class="py-4 border-top border-bottom mb-0">
          <p class="mb-0">Thank you for stopping by and taking the time to look at my portfolio. It is still in progress and below are just a small handful of my projects. I am still going through each one, restyling the layouts, adding new features, and making sure they look their best. As soon as they are updated, I will display them on my site so please come back soon! If you would like to see all of my work, then please visit my <a href="https://github.com/vunit2007" target="_blank">Github</a>.
          </p>
        </div>

      </div>
    </div>
    </div>


    </article>



<article class="featured">

  <div class="section-title">
    <p class="text-center text-lg-right mx-lg-4">Featured<br> Project</p>
  </div>
  <div class="featured-wrapper my-4 flex-column flex-lg-row">
    <!-- Demo -->
    <div class="phone-wrapper mx-auto pr-lg-1">
      <i class="fas fa-caret-left" onclick="plusDivs(-1)"></i>
      <div class="phone">
        <div class="slide">
          <img class="mySlides" src="../image/f1.png">
          <img class="mySlides" src="../image/f2.png">
          <img class="mySlides" src="../image/f3.png">
          <img class="mySlides" src="../image/f4.png">
          <img class="mySlides" src="../image/f5.png">
        </div>
      </div>
      <i class="fas fa-caret-right" onclick="plusDivs(1)"></i>
    </div>
    <!-- Details -->
    <div class="ficus-info pb-lg-4 mx-sm-4">
      <div class="ficus-wrapper d-flex justify-content-center justify-content-lg-start py-4 border-bottom ">
          <div class="ficus-title">Ficus Mini </div><div>by Greg Carlson</div>
      </div>
      <div class="ficus-scroll pt-3">
      <h4 class="pb-2">Technologies</h4>
      <label>React-Native</label>
      <label>HTML</label>
      <label>CSS</label>
      <label>MongoDB</label>
      <label >Express</label>
      <label>Redis</label>
      <label>Loopback</label>
      <label>Xcode</label>
      <label>Expo</label>
      <label>Photoshop</label>
      <label>Jira</label>
      <label>Bitbucket</label>
      <h4 class="pb-1">Description</h4>
      <p>Ficus Mini is a beta edition to Ficus, which is a gamified stock-trading app that uses fictitious money or real money to trade stocks. Unlike Ficus, Ficus Mini does not use real money. Each member starts out with $10,000 which they can use to trade and whatever amount they have equity will fluctuate with the current stock market.The purpose of the app is for
      users to get involved trading in the stock market and compete against other members in their group to see who comes out ahead on the leaderboard every week. </p>

      <h4 class="pb-1">Case Study</h4>
      <p>
      On March 2018, our team of four developers (including myself) met with Greg Carlson, the founder of Ficus, to go over wireframes and his vision for the app. We were able to create the MVP for Ficus in a 6 weeks sprint and launched it live in the iTunes Apple Store. Today, the app is different from the demo on my site, because it has been rebuilt by another team. I am proud of our original work and thankful that Greg allowed us to build the MVP for it.<br><br>

      This project was extremely challenging for a 6 weeks sprint, because none of us developers on the team have had any experience with React-Native, Redux Thunk and Expo. We had to learn it quick and the first week was dedicated to us struggling and getting used to React-Native and Expo. Our second challenge was that not everyone in our group was familiar with how stocks work (except for me and Erik) and how to do the calculations for the cost basis and gains.  We needed that in order to rank users on the leaderboard, which is the entire purpose of the app.<br><br>

      As for my part in the producion, I set up the backend architecture using our ERD, connecting Loopback to our Mongo database.  I created the login page, sign up page, activity component, and third party page. I also connected everything with Redux, qa for bugs, and fixed a good number of those bugs. <br><br>

      For the sign up page, I used axios to make requests to our express app to set up the user’s account and authenticate that user’s information on the front-end. For the log in page, I utilized Redux thunk to manage asynchronous view changes after authenticating the user, so <b class="text-secondary">(1)</b> the user would log in, <b class="text-secondary">(2)</b> we would authenticate their email and password, and then <b class="text-secondary">(3)</b> redirect them to the home page. Since it was my first exposure to Redux thunk, understanding how to chain asynchronous actions in Redux was a challenge. After reaching out to my team members and instructors for help, I went back and tried to implement it myself and was finally successful, ultimately learning how to manage actions effectively. <br><br>

      In the end, we were able to pull it together and got the app live in the iTunes Apple Store. We were working 70 hours a week to meet our 6 weeks sprint. Good thing the four of us got along well. All that hard work was worth it when we were able to download the app to our phones and compete against our friends and family on the leaderboard.


      </p>
      </div>
    </div>
  </div>
</article>



<article class="updated">
  <div class="section-title">
    <p class="text-center text-lg-left mx-sm-4">More<br> Projects</p>
  </div>
  <div class="portfolio-wrapper mx-sm-4">
    <div class="blog-card">
      <div class="meta">
        <div class="tiles">
          <div class="tile" data-scale="1.6" data-image="../image/vstda2.png">
          </div>
        </div>
      </div>
      <div class="description">
        <h3>Seize The Day</h3>
        <div class="scroll">
        <h4 class="pb-1">Technologies</h4>
        <label>React</label>
        <label>HTML</label>
        <label>CSS</label>
        <label>Flexbox</label>
        <label>Node.js</label>
        <label>Photoshop</label>
        <h4>Description</h4>
        <p>Seize The Day (VSTDA) is a simple and easy to use to-do app that helps you organize your day and stay productive. Today's date is shown on the pencil to remind you which day it is. This app allows you to create tasks by priority. You can also edit your tasks, reset its priority, and delete your tasks. Mobile responsive and ready for use!</p>
        <h4>Case Study</h4>
        <p>I built this project on my own and it was a struggle for me. I am a big fan of React and I have a number of React projects in my github, but out of all of those projects, I would say this one was the toughest for me. Getting the tasks to add and delete were easy, but getting it to edit and save were hard. It was confusing getting everything to connect, but I was able to get it done with occasional help from instructors and peers.</p>
        </div>
        <a class="btn" href="https://vn-seizetheday.herokuapp.com/" target="_blank">View App</a>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="tiles">
          <div class="tile" data-scale="1.6" data-image="../image/davesdepot.png">
          </div>
        </div>
      </div>
      <div class="description">
        <h3>Dave's Depot</h3>
        <div class="scroll">
        <h4 class="pb-1">Technologies</h4>
        <label>React</label>
        <label>Redux</label>
        <label>HTML</label>
        <label>CSS</label>
        <label>React Strap</label>
        <label>MongoDB</label>
        <label>Loopback</label>
        <label>Jira</label>
        <label>Bitbucket</label>
        <h4>Description</h4>
          <p>Dave's Depot is an online retail shop designed to emulate ecommerce stores like Amazon or Etsy. You can sign up as a buyer or seller with your own log in.  If you are a buyer, you can browse sale items from the site, add to cart, and then checkout.  You will have a dashboard of your buying history.  If you are a seller, you can post your items to the website for others to buy.  You will also have a dashboard of all your posted items. This website focuses on simplicity and is user friendly. </p>
        <h4>Case Study</h4>
          <p>
              In this project, I worked with three other developers on a one week sprint. I was responsible for the Mock Data, Add Product Page, Product Listings Page, Add to Cart Page, and the Checkout Page.
              <br><br>
              One of the tickets I worked on was the Mock Data.  I created a json file of all the listed products on the page along with the product’s name, description, price, condition, sale, category, and images.  The information in the Mock Data then gets stored in Loopback under listing, which we later used to grab information to post on the page through an axios call.
              <br><br>
              I also worked on the Create Product Page where sellers can go in and add the items they would like to sell in details.  I was able to capture a users input for the name, description, price, and images and store them in redux with little problems.  My biggest blocker was handling edge cases and multiple conditions, category, and sale elements, because I had to conditionally render the state of the dropdown components for them. I was able to overcome my blocker by dispatching specific conditions using ternaries to the Redux store.
              <br><br>
              I like this project, because I feel like I have a decent grip on React/Redux and was able to get more familiar with Loopback, which is surprisingly straight forward.  I really enjoyed working on this project due to the strong relationships I’ve gained with my colleague.  We consistently helped one another when stuck.
          </p>

        </div>
          <a class="btn" href="https://davesdepot.herokuapp.com/" target="_blank">View App</a>
      </div>
    </div>
        <div class="blog-card">
      <div class="meta">
        <div class="tiles">
          <div class="tile" data-scale="1.6" data-image="../image/btracker.png">
          </div>
        </div>
      </div>
      <div class="description">
        <h3>Budget Tracker</h3>
        <div class="scroll">
        <h4 class="pb-1">Technologies</h4>
        <label>Redux</label>
        <label>React</label>
        <label>HTML</label>
        <label>CSS</label>
        <label>Boostrap</label>
        <label>Node.js</label>
        <h4>Description</h4>
        <p>Budget Tracker helps you track your bills and manage your finances. By putting in your income and expenses, you can calculate how much you will have remaining or how much you have in the negatives at the end of the month. Simple, easy to use, and mobile responsive
        </p>
        <h4>Case Study</h4>
        <p>I built this app on my own with help from instructors here and there. It was my first time building with Redux and trying to understand the structure of the framework. Once I got the grip of it, I like using Redux because it is easier to debug and fix coding errors. As for the styling, it is mostly bootstrap and very little CSS. I wanted to demonstrate my bootstrap skills through this project. Learning and using bootstrap was my favorite part of the the process, because I like how it cuts my styling time in half, especially when it comes to responsiveness.
      </div>
      <a class="btn" href="https://vn-budgettracker.herokuapp.com/" target="_blank">View App</a>
      </div>
    </div>
  </div>
</article>

  </section>
  <footer>
      <div class="footer-wrapper">

      <div class="copyrights"><span>V-UNIT</span>&ensp;&copy;2019 Vy Nguyen.  All Rights Reserved. </div>
      <div class="social">
        <a href="mailto:vytnguyen11@gmail.com" target="_blank"><i class="far fa-envelope-open"></i></a><a href="https://github.com/vunit2007" target="_blank"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/vy-nguyen-715417102/" target="_blank"><i class="fab fa-linkedin-in" target="_blank"></i></a>
        <a href="https://twitter.com/vunitxo" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    </footer>

<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/down-p.js"></script>
<script type="text/javascript" src="../js/demo.js"></script>
<script type="text/javascript" src="../js/featured.js"></script>

</body>

</html>