<html>
    <head>
      <title>Vy's Thanks You</title>
      <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
      <style>
   body {
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: 'Homemade Apple', cursive;
	text-shadow:
  1px 1px 0 #BBB,
	2px 2px 0 #BBB, /* end of 2 level deep grey shadow */
	3px 3px 0 #777,
	4px 4px 0 #777,
	5px 5px 0 #777,
	6px 6px 0 #777; /* end of 4 level deep dark shadow */
  text-align: center;
  letter-spacing: .2em;
  margin-top: 400px;
}

      </style>
    </head>
    <body>
      <div>
        <h1>Thank you  </h1>
      </div>
    </body>
  </html>